thead {
    font-weight: lighter;
    font-size: 13px;
}

.product_name {
    font-weight: bold;
}

.product_rating {
    color: gray;
    font-weight: bold;
}

.product_trend {
    color: #4CAF50;
    font-weight: bold;
}

.product_price {
    border: 1px solid lightgray;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
}

.product_reviews {
    margin: 0;
}

.reviews_container {
    display: flex;
    padding-left: 120px;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid red;
    border-radius: 2px;
    width: 23px;
    height: 23px;
    margin-left: 40px;
}
