.container {
    width: 60%;
    margin: 0 auto;
}

.headline {
    margin-bottom: 50px;
}

.headline h1 {
    margin-bottom: 40px;
}

.to_store_btn a {
    color: red;
}


.advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: url("/img/advantages_bottom.png") no-repeat center bottom;
}



.advantage_item {
    height: 74px;
    width: 340px;
    margin-left: 180px;
}

.advantage_item .advantage_text {
    padding-left: 80px;
}

.advantage_item:nth-child(1) {
    background: url("/img/advantages1.png") no-repeat left top;
    margin-left: 0;
}
.advantage_item:nth-child(2) {
    background: url("/img/advantages2.png") no-repeat left top;
}
.advantage_item:nth-child(3) {
    background: url("/img/advantages3.png") no-repeat left top;
}

.basket_footer {
    background-color: #ffffff;
}

.basket_footer_text {
    color: black;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}